apiVersion: v1
kind: Pod
metadata:
  name: redis-demo
  labels:
    app: redis-demo
spec:
  containers:
  - name: redis
    image: redis
    imagePullPolicy: IfNotPresent
    ports:
    - containerPort: 6379
      name: redis
    volumeMounts:
    - mountPath: /data
      name: redisdata
  volumes:
    - name: redisdata
      persistentVolumeClaim:
        claimName: redis-data